
body {
text-align:left;
}

button, select, input
{
border:1px solid;
height:19px;
}

input[type=text]
{
height:16px;
}

#content {
margin-right:auto;
margin-left:auto;
vertical-align:middle;
width:100%;
}

#content ul {
padding:0px;
}

#content ul li {
margin:3px 0px 3px 0px;
}
/* add for psAxe */

    img         {width:24;height:24;vertical-align:middle;}

    input{font-weight:100;vertical-align:middle;}
    button{font-weight:100;vertical-align:middle;
    border-style:none; -webkit-border-radius:3px;}
button:hover {border-style:groove;}
button:active {border-style:ridge;}
    .toolChip	{width: 32px;height:32px;margin: 0 1 0 0;padding:0 0 0 0;background-color:#808080;font-size:9pt;}
    .toolChipN	{width: 26px;height:32px;margin: 0 1 0 0;padding:0 0 0 0;background-color:#808080;font-size:9pt;}
    .operation	{width: 60px;height:24px;margin: 0 0 0 0;padding:0 0 0 0;background-color:#eeeeee;font-size:8pt;}
    .fsp	{width: 240px;height:18px;background-color:#eeeeee;font-size:8pt;}
    .fw		{width: 24px;height:32px;background-color:#cccccc;font-size:8pt;}
    .hw		{width: 12px;height:32px;background-color:#cccccc;font-size:8pt;}
    .qw		{width: 6px;height:32px;margin: 0 1 0 0;padding:0 0 0 0;background-color:#cccccc;font-size:8pt;}
    .fwd	{width: 240px;height:20px;background-color:#aaaaaa;font-size:9pt;}
    .hwd	{width: 120px;height:20px;background-color:#aaaaaa;font-size:9pt;}
    .qwd	{width: 60px;height:20px;background-color:#aaaaaa;font-size:8pt;}
    .owd	{width: 30px;height:20px;background-color:#aaaaaa;font-size:8pt;}

