body {
	margin:0;
	padding:0;
	text-align:left;
	color:gray;
	font-size:9pt;
	background:#444444;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
	}
input {font-size:9pt;border:1pt;}
A:link    {color:#0000C0;text-decoration:none;}
A:visited {color:#8000D0;text-decoration:none;}
A:active  {color:blue;text-decoration:none;}
A:hover  {color:#000080;background-color:#fafad2;}
input {border-style:outset;border-width:2pt;}
input.button {background-color:#bbccbf;border-color:#556655;}
input:active {border-style:inset;border-width:2pt}
table{
	margin:0;
	padding:0;
	border-collapse:collapse;
	}
td{
	margin:0;
	padding:0;
	}
tr{
	margin:0;
	padding:0;
	}
/* ID */
#basePicture {display:inline;}
#flipPicture {display:inline;}

#uiTable	{
	position:absolute;
	font-family:times;
	top:0px;
	left:0px;
	border-width:0px;
}
#mdpBox	{
	text-align:center;
	background-color:#111611;
	position:absolute;
	font-family:times;
	font-size:12px;
	border-style:inset;
	border-width:1pt;
	top:16px;
	left:4px;
	width:186px;
	height:110px;
}
.display	{
	text-align:center;
	position:absolute;
	font-family:times;
	color:#448800;
}
#CHG	{
	position:absolute;
	font-size:12px;
	top:0px;
	left:2px;
	width:16px;
	height:16px;
}
#CHG_clock	{
	position:absolute;
	font-size:12px;
	top:0px;
	left:20px;
	width:16px;
	height:16px;
}
#nas_RATE	{
	font-size:12px;
	font-weight:900;
	top:2px;
	left:40px;
	width:32px;
	height:16px;
}

#Resolution	{
	position:absolute;
	font-size:12px;
	font-weight:900;
	top:2px;
	left:80px;
	width:32px;
	height:16px;
}
#inputMode	{
	position:absolute;
	font-size:12px;
	font-weight:900;
	top:2px;
	left:120px;
	width:20px;
	height:16px;
}
#nas_Ri	{
	vertical-align:top;
	font-size:9pt;
	top:16px;
	left:0px;
	border-style:none;
	background-color:#111611;
	width:184px;
	height:16px;
}
#sTatus	{
	top:36px;
	left:0px;
	width:36px;
	height:24px;
}
#nas_display	{
	position:absolute;
	font-size:18px;
	left:40px;
	top:32px;
	border-style:none;
	background-color:#111611;
	width:144px;
	height:24px;
}
#COMbuf		{
	position:absolute;
	font-size:16px;
	left:8px;
	top:64px;
	width:24px;
	height:26px;
}
#INbuf	{
	position:absolute;
	font-size:24px;
	text-align:right;
	left:32px;
	top:60px;
	width:144px;
	height:26px;
	-moz-user-select:text;
	-webkit-user-select:text;
	-ms-user-select:text;
	user-select:text;
}
#SIbuf	{
	position:absolute;
	font-size:18px;
	text-align:right;
	left:32px;
	top:86px;
	width:144px;
	height:20px;
	border-style:solid;
	border-width:1px 0 0 0;
	color:#448800;
	background-color:#111611;
}
#skbBox	{
	position:absolute;
	top:132px;
	left:12px;
}
.toolKB	{
	width:48px;
	height:20px
}
#nkbBox	{
	display:inline;
	position:absolute;
	top:188px;
	left:56px;
}
.numButton	{
	padding:0px;
	margin:0px;
	width:36px;
	height:20px;
}
.numButtonDark	{
	padding:0px;
	margin:0px;
	width:36px;
	height:20px;
	color:snow;
	background-color:#606060;
}
.numButtonLight	{
	padding:0px;
	margin:0px;
	width:36px;
	height:20px;
	background-color:#dfdfdf;
}

.numButtonL	{
	padding:0px;
	margin:0px;
	width:46px;
	height:20px;
	background-color:#b0b0b0;
}

.numButtonW	{
	padding:0px;
	margin:0px;
	width:72px;
	height:20px

}
.numButtonT	{
	padding:0px;
	margin:0px;
	width:36px;
	height:40px;
	color:snow;
	background-color:#606060;
}
#fkbBox	{
	display:none;
	position:absolute;
	top:188px;
	left:4px;
}
.funcKB	{
	width:52px;
	height:20px
}
#toolPanel	{
	position:absolute;
	top:16px;
	left:196px;
}
.toolKB	{
	width:48px;
	height:20px
}
.selectMode	{
	width:152px;
	height:20px
}
/*	ÉZÉåÉNÉ^	*/
.iSelect	{
	margin:0;
	padding:0;
	font-weight:bold;
	font-size:6pt;
}
.aSelect	{
	cursor:pointer;
}
