.ui-tooltip {font-size:9pt;padding:1px;}

body {
text-align:center;
}

button, select, input
{
border:1px solid;
height:19px;
}

input[type=text]
{
height:16px;
}

#content {
margin-right:auto;
margin-left:auto;
vertical-align:middle;
width:100%;
}

#content ul {
padding:0px;
}

#content ul li {
margin:3px 0px 3px 0px;
}
/* add for psAxe */
/*		固定ヘッダ
	ウインドウ全体をUIに割り付け、UIのマージン等を取得するエレメント
*/
#fixedHeader {
	width:100%;
	position:fixed;
	background-color:#444444;
	z-index:3;
}
.screenSpace{
	width:97%;height:10px;
}

    img         {width:24;height:24;vertical-align:middle;}

    input{font-weight:100;vertical-align:middle;}
    button{font-weight:100;vertical-align:middle;

    border-style:none; }
button:hover {border-style:groove;}
button:active {border-style:ridge;}
button:disabled {border-style:none;background-color:transparent;opacity:.4;}
    .colorChip	{width: 27px;height:20px;background-color:#808080;font-size:8pt;}
    .toolChip	{width: 27px;height:27px;background-color:#808080;font-size:8pt;padding:0;}
    .operation	{width: 54px;height:20px;background-color:#666666;font-size:8pt;}
    .fsp	{width: 216px;height:16px;background-color:#444444;font-size:8pt;}
    .fw		{width: 216px;height:20px;background-color:#555555;font-size:8pt;}
    .hw		{width: 108px;height:20px;background-color:#555555;font-size:8pt;}
    .qw		{width: 54px;height:20px;background-color:#555555;font-size:8pt;}
    .cw		{width: 43px;height:20px;background-color:#555555;font-size:8pt;}
    .sw		{width: 36px;height:20px;background-color:#555555;font-size:8pt;}
    .ow		{width: 27px;height:20px;background-color:#555555;font-size:8pt;}
    .fwd	{width: 216px;height:20px;background-color:#777777;font-size:9pt;}
    .hwd	{width: 108px;height:20px;background-color:#777777;font-size:9pt;}
    .qwd	{width: 54px;height:20px;background-color:#777777;font-size:8pt;}
    .cwd	{width: 43px;height:20px;background-color:#777777;font-size:8pt;}
    .swd	{width: 36px;height:20px;background-color:#777777;font-size:8pt;}
    .owd	{width: 27px;height:20px;background-color:#777777;font-size:8pt;}
    .iconButton      {width: 27px;height:27px;background-color:#444444;margin:0;padding:0;
     /*アイコンイメージ*/
        background-image: url(images/nas-ui-icons432x432pxIVS.png);
    }
    span.iconBut      {width: 27px;height:20px;background-color:#444444;margin:0;padding:0;
     /*アイコンイメージ*/
        background-image: url(images/nas-ui-icons432x432pxIVS.png);
    }
/*	icon offsert positioning */

.iconButton-blank { background-position: 27px 27px; }

.iconButton-selectBox { background-position: 0 0; }
.iconButton-selectCircle { background-position: -27px 0; }
.iconButton-cut { background-position: -54px 0; }
.iconButton-cut_d { background-position: -81px 0; }
.iconButton-copy { background-position: -108px 0; }
.iconButton-copy_d { background-position: -135px 0; }
.iconButton-paste { background-position: -162px 0; }
.iconButton-paste_d { background-position: -189px 0; }
.iconButton-undo { background-position: -216px 0; }
.iconButton-undo_d { background-position: -243px 0; }
.iconButton-redo { background-position: -270px 0; }
.iconButton-redo_d { background-position: -297px 0; }
.iconButton-gia { background-position: -324px 0; }
.iconButton-gia_d {background-position: -351px 0; }
/*
.iconButton- { background-position: -378px 0; }
.iconButton- { background-position: -405px 0; }
*/

.iconButton-toReference { background-position: 0 -27px; }
.iconButton-fromReference { background-position: -27px -27px; }
.iconButton-toRight { background-position: -54px -27px; }
.iconButton-toLeft { background-position: -81px -27px; }
.iconButton-reload { background-position: -108px -27px; }
.iconButton-set { background-position: -135px -27px; }
.iconButton-get { background-position: -162px -27px; }
.iconButton-openX { background-position: -189px -27px; }
.iconButton-storeX { background-position: -216px -27px; }
.iconButton-cgiStore { background-position: -243px -27px; }
.iconButton-storeAs { background-position: -270px -27px; }
/*
.iconButton- { background-position: -297px -27px; }
.iconButton- { background-position: -324px -27px; }
.iconButton- { background-position: -351px -27px; }
.iconButton- { background-position: -378px -27px; }
.iconButton- { background-position: -405px -27px; }
*/
.iconButton-document { background-position: 0 -54px; }
.iconButton-timesheet { background-position: -27px -54px; }
.iconButton-layerName { background-position: -54px -54px; }
.iconButton-export { background-position: -81px -54px; }
.iconButton-import { background-position: -108px -54px; }
.iconButton-cat { background-position: -135px -54px; }
.iconButton-fldChart { background-position: -162px -54px; }
.iconButton-refChart { background-position: -189px -54px; }
.iconButton-fromTVP { background-position: -216px -54px; }
.iconButton-toTVP { background-position: -243px -54px; }
.iconButton-dialog2Text { background-position: -270px -54px; }
.iconButton-dialogEdit { background-position: -297px -54px; }
/*
.iconButton- { background-position: -324px -54px; }
.iconButton- { background-position: -351px -54px; }
.iconButton- { background-position: -378px -54px; }
.iconButton- { background-position: -405px -54px; }
*/
.iconButton-section { background-position: 0 -81px; }
.iconButton-reformat { background-position: -27px -81px; }
.iconButton-clearFS { background-position: -54px -81px; }
.iconButton-axe_1 { background-position: -81px -81px; }
.iconButton-axe_2 { background-position: -108px -81px; }
.iconButton-axe_3 { background-position: -135px -81px; }
.iconButton-axe_4 { background-position: -162px -81px; }
.iconButton-pen_1 { background-position: -189px -81px; }
.iconButton-pen_2 { background-position: -216px -81px; }
.iconButton-pen_3 { background-position: -243px -81px; }
.iconButton-footStamp { background-position: -270px -81px; }
.iconButton-letter { background-position: -297px -81px; }
.iconButton-inbetweenDot { background-position: -324px -81px; }
.iconButton-bigCross { background-position: -351px -81px; }
.iconButton-notice { background-position: -378px -81px; }
.iconButton-dialog { background-position: -405px -81px; }

.iconButton-clearTL { background-position: 0 -108px; }
.iconButton-FO { background-position: -27px -108px; }
.iconButton-FI { background-position: -54px -108px; }
.iconButton-transition { background-position: -81px -108px; }
.iconButton-interpSection { background-position: -108px -108px; }
.iconButton-strongCell { background-position: -135px -108px; }
.iconButton-interpDot { background-position: -162px -108px; }
.iconButton-vLine { background-position: -189px -108px; }
.iconButton-wLine { background-position: -216px -108px; }
.iconButton-incrCell { background-position: -243px -108px; }
.iconButton-decrCell { background-position: -270px -108px; }
.iconButton-addCircle { background-position: -297px -108px; }
.iconButton-addBrackets { background-position: -324px -108px; }
.iconButton-addAngles { background-position: -351px -108px; }
.iconButton-incr { background-position: -378px -108px; }
.iconButton-decr { background-position: -405px -108px; }
/*
*/
.iconButton-util { background-position: 0 -135px; }
.iconButton-util_d { background-position: -27px -135px; }
.iconButton-skb { background-position: -54px -135px; }
.iconButton-skb_d { background-position: -81px -135px; }
.iconButton-path { background-position: -108px -135px; }
.iconButton-preview { background-position: -135px -135px; }
.iconButton-xps { background-position: -162px -135px; }
.iconButton-documents { background-position: -189px -135px; }
.iconButton-trace { background-position: -216px -135px; }
.iconButton-debug { background-position: -243px -135px; }
.iconButton-renumber { background-position: -270px -135px; }
.iconButton-makeLayerset { background-position: -297px -135px; }
.iconButton-divideLayers { background-position: -324px -135px; }
.iconButton-gatherLayers { background-position: -351px -135px; }
.iconButton-addRegister { background-position: -378px -135px; }
.iconButton-duplicateRegister { background-position: -405px -135px; }
/*
*/
.iconButton-switchTF { background-position: 0 -162px; }
.iconButton-timelineAnimation { background-position: -27px -162px; }
.iconButton-frameAnimation { background-position: -54px -162px; }
.iconButton-switchShortcut { background-position: -81px -162px; }
/*
.iconButton- { background-position: -108px -162px; }
.iconButton- { background-position: -135px -162px; }
.iconButton- { background-position: -162px -162px; }
.iconButton- { background-position: -189px -162px; }
.iconButton- { background-position: -216px -162px; }
.iconButton- { background-position: -243px -162px; }
.iconButton- { background-position: -270px -162px; }
.iconButton- { background-position: -297px -162px; }
.iconButton- { background-position: -324px -162px; }
.iconButton- { background-position: -351px -162px; }
.iconButton- { background-position: -378px -162px; }
.iconButton- { background-position: -405px -162px; }
*/
.iconButton-shiftLayerB { background-position: 0 -189px; }
.iconButton-shiftLayerU { background-position: -27px -189px; }
.iconButton-swapLayers { background-position: -54px -189px; }
.iconButton-focusTop { background-position: -81px -189px; }
.iconButton-duplicateLayers { background-position: -108px -189px; }
.iconButton-removeLayers { background-position: -135px -189px; }
.iconButton-addLayer_1 { background-position: -162px -189px; }
.iconButton-addLayer_2 { background-position: -189px -189px; }
.iconButton-goTo { background-position: -216px -189px; }
.iconButton-sortLayers { background-position: -243px -189px; }
.iconButton-reverseLayers { background-position: -270px -189px; }
.iconButton-smartTrsfm { background-position: -297px -189px; }
.iconButton-fixTrsfm { background-position: -324px -189px; }
.iconButton-resetTrsfm { background-position: -351px -189px; }
.iconButton-layerSetting { background-position: -378px -189px; }
.iconButton-layerRotation { background-position: -405px -189px; }
/*
*/
.iconButton-addStillTL { background-position: 0 -216px; }
.iconButton-addReplacementTL { background-position: -27px -216px; }
.iconButton-addCameraworkTL { background-position: -54px -216px; }
.iconButton-addEffectsTL { background-position: -81px -216px; }
.iconButton-addSoundTL { background-position: -108px -216px; }
.iconButton-addTransitionTL { background-position: -135px -216px; }
.iconButton-addPeg { background-position: -162px -216px; }
.iconButton-addCmeraTL { background-position: -189px -216px; }
.iconButton-insertTL { background-position: -216px -216px; }
.iconButton-removeTL { background-position: -243px -216px; }
.iconButton-blockInsert { background-position: -270px -216px; }
.iconButton-blockRemove { background-position: -297px -216px; }
.iconButton-addText { background-position: -324px -216px; }
.iconButton-editText { background-position: -351px -216px; }
.iconButton-addPlus { background-position: -378px -216px; }
.iconButton-removePlus { background-position: -405px -216px; }
/*
*/
.iconButton-selectAllAF { background-position: 0 -243px; }
.iconButton-initAF { background-position: -27px -243px; }
.iconButton-duplicateAF { background-position: -54px -243px; }
.iconButton-copyAF { background-position: -81px -243px; }
.iconButton-removeAF { background-position: -108px -243px; }
.iconButton-pasteAF { background-position: -135px -243px; }
.iconButton-reverseAF { background-position: -162px -243px; }
.iconButton-expandSelection { background-position: -189px -243px; }
.iconButton-expandLayrset { background-position: -216px -243px; }
.iconButton-expandAll { background-position: -243px -243px; }
.iconButton-flagBox { background-position: -270px -243px; }
.iconButton-flagMinus { background-position: -297px -243px; }
.iconButton-flagPlus { background-position: -324px -243px; }
.iconButton-flagCircle { background-position: -351px -243px; }
.iconButton-flagCross { background-position: -378px -243px; }
.iconButton-flagTriangle { background-position: -405px -243px; }
/*
*/
.iconButton-goWorkAreaHead { background-position: 0 -270px; }
.iconButton-goWorkAreaTail { background-position: -27px -270px; }
.iconButton-setWorkAreaHead { background-position: -54px -270px; }
.iconButton-setWaokAreaTail { background-position: -81px -270px; }
.iconButton-extractWorkArea { background-position: -108px -270px; }
.iconButton-liftWorkArea { background-position: -135px -270px; }
.iconButton-moveStartTL { background-position: -162px -270px; }
.iconButton-moveEndTL { background-position: -189px -270px; }
.iconButton-setStartTL { background-position: -216px -270px; }
.iconButton-setEndTL { background-position: -243px -270px; }
.iconButton-splitTL { background-position: -270px -270px; }
.iconButton-putKey { background-position: -297px -270px; }
.iconButton-removeKey { background-position: -324px -270px; }
.iconButton-shiftKey { background-position: -351px -270px; }
.iconButton-goToTime { background-position: -378px -270px; }
/*
.iconButton- { background-position: -405px -270px; }
*/
.iconButton-goBWD { background-position: 0 -297px; }
.iconButton-goFWD { background-position: -27px -297px; }
.iconButton-pause { background-position: -54px -297px; }
.iconButton-goFFWD { background-position: -81px -297px; }
.iconButton-goFBWD { background-position: -108px -297px; }
.iconButton-goNext { background-position: -135px -297px; }
.iconButton-goPrev { background-position: -162px -297px; }
.iconButton-stop { background-position: -189px -297px; }
.iconButton-eject { background-position: -216px -297px; }
/*
.iconButton- { background-position: -243px -297px; }
.iconButton- { background-position: -270px -297px; }
.iconButton- { background-position: -297px -297px; }
.iconButton- { background-position: -324px -297px; }
.iconButton- { background-position: -351px -297px; }
.iconButton- { background-position: -378px -297px; }
.iconButton- { background-position: -405px -297px; }
*/
.iconButton-buildXPS { background-position: 0 -324px; }
.iconButton-editXPS { background-position: -27px -324px; }
.iconButton-linkXPS { background-position: -54px -324px; }
.iconButton-FPS { background-position: -81px -324px; }
.iconButton-movieFrame { background-position: -108px -324px; }
.iconButton-moieFrameSetting { background-position: -135px -324px; }
/*
.iconButton- { background-position: -162px -324px; }
.iconButton- { background-position: -189px -324px; }
.iconButton- { background-position: -216px -324px; }
.iconButton- { background-position: -243px -324px; }
.iconButton- { background-position: -270px -324px; }
.iconButton- { background-position: -297px -324px; }
.iconButton- { background-position: -324px -324px; }
.iconButton- { background-position: -351px -324px; }
.iconButton- { background-position: -378px -324px; }
.iconButton- { background-position: -405px -324px; }
*/
.iconButton-ONS { background-position: 0 -351px; }
.iconButton-ONSsetting { background-position: -27px -351px; }
.iconButton-ONS_0 { background-position: -54px -351px; }
.iconButton-ONS_1 { background-position: -81px -351px; }
.iconButton-ONS_2 { background-position: -108px -351px; }
.iconButton-ONS_3 { background-position: -135px -351px; }
.iconButton-ONS_4 { background-position: -162px -351px; }
.iconButton-traceBlack { background-position: -189px -351px; }
.iconButton-traceR { background-position: -216px -351px; }
.iconButton-traceG { background-position: -243px -351px; }
.iconButton-traceB { background-position: -270px -351px; }
.iconButton-traceC { background-position: -297px -351px; }
.iconButton-traceM { background-position: -324px -351px; }
.iconButton-traceY { background-position: -351px -351px; }
.iconButton-traceGY { background-position: -378px -351px; }
/*
.iconButton- { background-position: -405px -351px; }
*/
/*
.iconButton- { background-position: 0 -378px; }
.iconButton- { background-position: -27px -378px; }
.iconButton- { background-position: -54px -378px; }
.iconButton- { background-position: -81px -378px; }
.iconButton- { background-position: -108px -378px; }
.iconButton- { background-position: -135px -378px; }
.iconButton- { background-position: -162px -378px; }
.iconButton- { background-position: -189px -378px; }
.iconButton- { background-position: -216px -378px; }
.iconButton- { background-position: -243px -378px; }
.iconButton- { background-position: -270px -378px; }
.iconButton- { background-position: -297px -378px; }
.iconButton- { background-position: -324px -378px; }
.iconButton- { background-position: -351px -378px; }
.iconButton- { background-position: -378px -378px; }
.iconButton- { background-position: -405px -378px; }
*/
.iconButton-checker { background-position: 0 -405px; }
.iconButton-cell { background-position: -27px -405px; }
.iconButton-separation { background-position: -54px -405px; }
.iconButton-traceAll { background-position: -81px -405px; }
.iconButton-traceFGC { background-position: -108px -405px; }
.iconButton-traceK { background-position: -135px -405px; }
.iconButton-tracePPP { background-position: -162px -405px; }
.iconButton-paintLayer { background-position: -189px -405px; }
.iconButton-thiningLine { background-position: -216px -405px; }
.iconButton-borderFill { background-position: -243px -405px; }
.iconButton-smoother { background-position: -270px -405px; }
.iconButton-colorBox { background-position: -297px -405px; }
.iconButton-colorInfo { background-position: -324px -405px; }
/*
.iconButton- { background-position: -351px -405px; }
.iconButton- { background-position: -378px -405px; }
.iconButton- { background-position: -405px -405px; }
*/
//end


input {font-size:9pt;border-width:1}
button {font-size:9pt;border-width:1;color:snow;background-color:#666666;-webkit-border-radius:2px;}

A:link    {text-decoration:none;}
A:visited {text-decoration:none;}
A:active  {text-decoration:none;}
A:hover  {color:#808080;background-color:#dddddd;}

#toolmenu
{
	position:absolute;
	left:0px;top:96px;
	width:192px;height100%;
}
#toolview
{
	position:absolute;
	left:208px;top:96px;
	width:75%;height:100%;
	border-style:none;
}
