.ui-tooltip {font-size:9pt;padding:1px;}

body {
text-align:center;
}

button, select, input
{
border:1px solid;
height:19px;
}

input[type=text]
{
height:16px;
}

#content {
margin-right:auto;
margin-left:auto;
vertical-align:middle;
width:100%;
}

#content ul {
padding:0px;
}

#content ul li {
margin:3px 0px 3px 0px;
}
/* add for psAxe */
/*		固定ヘッダ
	ウインドウ全体をUIに割り付け、UIのマージン等を取得するエレメント
*/
#fixedHeader {
	width:100%;
	position:fixed;
	background-color:#444444;
	z-index:3;
}
.screenSpace{
	width:97%;height:10px;
}

    img         {width:24;height:24;vertical-align:middle;}

    input{font-weight:100;vertical-align:middle;}
    button{font-weight:100;vertical-align:middle;

    border-style:none; }
button:hover {border-style:groove;}
button:active {border-style:ridge;}
button:disabled {background-color:#dddddd;}
    .colorChip	{width: 27px;height:20px;background-color:#808080;font-size:8pt;}
    .toolChip	{width: 27px;height:27px;background-color:#808080;font-size:8pt;padding:0;}
    .operation	{width: 54px;height:20px;background-color:#666666;font-size:8pt;}
    .fsp	{width: 216px;height:16px;background-color:#444444;font-size:8pt;}
    .fw		{width: 216px;height:20px;background-color:#555555;font-size:8pt;}
    .hw		{width: 108px;height:20px;background-color:#555555;font-size:8pt;}
    .qw		{width: 54px;height:20px;background-color:#555555;font-size:8pt;}
    .cw		{width: 43px;height:20px;background-color:#555555;font-size:8pt;}
    .sw		{width: 36px;height:20px;background-color:#555555;font-size:8pt;}
    .ow		{width: 27px;height:20px;background-color:#555555;font-size:8pt;}
    .fwd	{width: 216px;height:20px;background-color:#777777;font-size:9pt;}
    .hwd	{width: 108px;height:20px;background-color:#777777;font-size:9pt;}
    .qwd	{width: 54px;height:20px;background-color:#777777;font-size:8pt;}
    .cwd	{width: 43px;height:20px;background-color:#777777;font-size:8pt;}
    .swd	{width: 36px;height:20px;background-color:#777777;font-size:8pt;}
    .owd	{width: 27px;height:20px;background-color:#777777;font-size:8pt;}
    .iconButton      {width: 27px;height:22px;background-color:#444444;margin:0;padding:0;
     /*アイコンイメージ*/
        background-image: url(images/nas-ui-icons384x320pxIVS.png);
    }

/*	icon offsert positioning */

.iconButton-blank { background-position: 24px 20px; }

.iconButton-selectBox { background-position: 0 0; }
.iconButton-selectCircle { background-position: -24px 0; }
.iconButton-cut { background-position: -48px 0; }
.iconButton-cut_d { background-position: -72px 0; }
.iconButton-copy { background-position: -96px 0; }
.iconButton-copy_d { background-position: -120px 0; }
.iconButton-paste { background-position: -144px 0; }
.iconButton-paste_d { background-position: -168px 0; }
.iconButton-undo { background-position: -192px 0; }
.iconButton-undo_d { background-position: -216px 0; }
.iconButton-redo { background-position: -240px 0; }
.iconButton-redo_d { background-position: -264px 0; }
.iconButton-gia { background-position: -288px 0; }
.iconButton-gia_d { background-position: -312px 0; }
/*
.iconButton- { background-position: -336px 0; }
.iconButton- { background-position: -360px 0; }
*/

.iconButton-toReference { background-position: 0 -20px; }
.iconButton-fromReference { background-position: -24px -20px; }
.iconButton-toRight { background-position: -48px -20px; }
.iconButton-toLeft { background-position: -72px -20px; }
.iconButton-reload { background-position: -96px -20px; }
.iconButton-set { background-position: -120px -20px; }
.iconButton-get { background-position: -144px -20px; }
.iconButton-openX { background-position: -168px -20px; }
.iconButton-storeX { background-position: -192px -20px; }
.iconButton-cgiStore { background-position: -216px -20px; }
.iconButton-storeAs { background-position: -240px -20px; }
/*
.iconButton- { background-position: -264px -20px; }
.iconButton- { background-position: -288px -20px; }
.iconButton- { background-position: -312px -20px; }
.iconButton- { background-position: -336px -20px; }
.iconButton- { background-position: -360px -20px; }
*/
.iconButton-document { background-position: 0 -40px; }
.iconButton-timesheet { background-position: -24px -40px; }
.iconButton-layerName { background-position: -48px -40px; }
.iconButton-export { background-position: -72px -40px; }
.iconButton-import { background-position: -96px -40px; }
.iconButton-cat { background-position: -120px -40px; }
.iconButton-fldChart { background-position: -144px -40px; }
.iconButton-refChart { background-position: -168px -40px; }
/*
.iconButton- { background-position: -192px -40px; }
.iconButton- { background-position: -216px -40px; }
.iconButton- { background-position: -240px -40px; }
.iconButton- { background-position: -264px -40px; }
.iconButton- { background-position: -288px -40px; }
.iconButton- { background-position: -312px -40px; }
.iconButton- { background-position: -336px -40px; }
.iconButton- { background-position: -360px -40px; }
*/
.iconButton-section { background-position: 0 -60px; }
.iconButton-reformat { background-position: -24px -60px; }
.iconButton-clearFS { background-position: -48px -60px; }
.iconButton-axe_1 { background-position: -72px -60px; }
.iconButton-axe_2 { background-position: -96px -60px; }
.iconButton-axe_3 { background-position: -120px -60px; }
.iconButton-axe_4 { background-position: -144px -60px; }
.iconButton-pen_1 { background-position: -168px -60px; }
.iconButton-pen_2 { background-position: -192px -60px; }
.iconButton-pen_3 { background-position: -216px -60px; }
.iconButton-footStamp { background-position: -240px -60px; }
.iconButton-letter { background-position: -264px -60px; }
.iconButton-inbetweenDot { background-position: -288px -60px; }
.iconButton-bigCross { background-position: -312px -60px; }
.iconButton-notice { background-position: -336px -60px; }
.iconButton-dialog { background-position: -360px -60px; }

.iconButton-clearTL { background-position: 0 -80px; }
.iconButton-FO { background-position: -24px -80px; }
.iconButton-FI { background-position: -48px -80px; }
.iconButton-transition { background-position: -72px -80px; }
.iconButton-interpSection { background-position: -96px -80px; }
.iconButton-strongCell { background-position: -120px -80px; }
.iconButton-interpDot { background-position: -144px -80px; }
.iconButton-vLine { background-position: -168px -80px; }
.iconButton-wLine { background-position: -192px -80px; }
.iconButton-incrCell { background-position: -216px -80px; }
.iconButton-decrCell { background-position: -240px -80px; }
.iconButton-addCircle { background-position: -264px -80px; }
.iconButton-addBrackets { background-position: -288px -80px; }
.iconButton-addAngles { background-position: -312px -80px; }
.iconButton-incr { background-position: -336px -80px; }
.iconButton-decr { background-position: -360px -80px; }
/*
*/
.iconButton-util { background-position: 0 -100px; }
.iconButton-util_d { background-position: -24px -100px; }
.iconButton-skb { background-position: -48px -100px; }
.iconButton-skb_d { background-position: -72px -100px; }
.iconButton-path { background-position: -96px -100px; }
.iconButton-preview { background-position: -120px -100px; }
.iconButton-xps { background-position: -144px -100px; }
.iconButton-documents { background-position: -168px -100px; }
.iconButton-trace { background-position: -192px -100px; }
.iconButton-debug { background-position: -216px -100px; }
.iconButton-renumber { background-position: -240px -100px; }
.iconButton-makeLayerset { background-position: -264px -100px; }
.iconButton-divideLayers { background-position: -288px -100px; }
.iconButton-gatherLayers { background-position: -312px -100px; }
.iconButton-addRegister { background-position: -336px -100px; }
.iconButton-duplicateRegister { background-position: -360px -100px; }
/*
*/
.iconButton-switchTF { background-position: 0 -120px; }
.iconButton-timelineAnimation { background-position: -24px -120px; }
.iconButton-frameAnimation { background-position: -48px -120px; }
.iconButton-switchShortcut { background-position: -72px -120px; }
/*
.iconButton- { background-position: -96px -120px; }
.iconButton- { background-position: -120px -120px; }
.iconButton- { background-position: -144px -120px; }
.iconButton- { background-position: -168px -120px; }
.iconButton- { background-position: -192px -120px; }
.iconButton- { background-position: -216px -120px; }
.iconButton- { background-position: -240px -120px; }
.iconButton- { background-position: -264px -120px; }
.iconButton- { background-position: -288px -120px; }
.iconButton- { background-position: -312px -120px; }
.iconButton- { background-position: -336px -120px; }
.iconButton- { background-position: -360px -120px; }
*/
.iconButton-shiftLayerB { background-position: 0 -140px; }
.iconButton-shiftLayerU { background-position: -24px -140px; }
.iconButton-swapLayers { background-position: -48px -140px; }
.iconButton-focusTop { background-position: -72px -140px; }
.iconButton-duplicateLayers { background-position: -96px -140px; }
.iconButton-removeLayers { background-position: -120px -140px; }
.iconButton-addLayer_1 { background-position: -144px -140px; }
.iconButton-addLayer_2 { background-position: -168px -140px; }
.iconButton-goTo { background-position: -192px -140px; }
.iconButton-sortLayers { background-position: -216px -140px; }
.iconButton-reverseLayers { background-position: -240px -140px; }
.iconButton-smartTrsfm { background-position: -264px -140px; }
.iconButton-fixTrsfm { background-position: -288px -140px; }
.iconButton-resetTrsfm { background-position: -312px -140px; }
.iconButton-layerSetting { background-position: -336px -140px; }
.iconButton-layerRotation { background-position: -360px -140px; }
/*
*/
.iconButton-addStillTL { background-position: 0 -160px; }
.iconButton-addReplacementTL { background-position: -24px -160px; }
.iconButton-addCameraworkTL { background-position: -48px -160px; }
.iconButton-addEffectsTL { background-position: -72px -160px; }
.iconButton-addSoundTL { background-position: -96px -160px; }
.iconButton-addTransitionTL { background-position: -120px -160px; }
.iconButton-addPeg { background-position: -144px -160px; }
.iconButton-addCmeraTL { background-position: -168px -160px; }
.iconButton-insertTL { background-position: -192px -160px; }
.iconButton-removeTL { background-position: -216px -160px; }
.iconButton-blockInsert { background-position: -240px -160px; }
.iconButton-blockRemove { background-position: -264px -160px; }
.iconButton-addText { background-position: -288px -160px; }
.iconButton-editText { background-position: -312px -160px; }
.iconButton-addPlus { background-position: -336px -160px; }
.iconButton-removePlus { background-position: -360px -160px; }
/*
*/
.iconButton-selectAllAF { background-position: 0 -180px; }
.iconButton-initAF { background-position: -24px -180px; }
.iconButton-duplicateAF { background-position: -48px -180px; }
.iconButton-copyAF { background-position: -72px -180px; }
.iconButton-removeAF { background-position: -96px -180px; }
.iconButton-pasteAF { background-position: -120px -180px; }
.iconButton-reverseAF { background-position: -144px -180px; }
.iconButton-expandSelection { background-position: -168px -180px; }
.iconButton-expandLayrset { background-position: -192px -180px; }
.iconButton-expandAll { background-position: -216px -180px; }
.iconButton-flagBox { background-position: -240px -180px; }
.iconButton-flagMinus { background-position: -264px -180px; }
.iconButton-flagPlus { background-position: -288px -180px; }
.iconButton-flagCircle { background-position: -312px -180px; }
.iconButton-flagCross { background-position: -336px -180px; }
.iconButton-flagTriangle { background-position: -360px -180px; }
/*
*/
.iconButton-goWorkAreaHead { background-position: 0 -200px; }
.iconButton-goWorkAreaTail { background-position: -24px -200px; }
.iconButton-setWorkAreaHead { background-position: -48px -200px; }
.iconButton-setWaokAreaTail { background-position: -72px -200px; }
.iconButton-extractWorkArea { background-position: -96px -200px; }
.iconButton-liftWorkArea { background-position: -120px -200px; }
.iconButton-moveStartTL { background-position: -144px -200px; }
.iconButton-moveEndTL { background-position: -168px -200px; }
.iconButton-setStartTL { background-position: -192px -200px; }
.iconButton-setEndTL { background-position: -216px -200px; }
.iconButton-splitTL { background-position: -240px -200px; }
.iconButton-putKey { background-position: -264px -200px; }
.iconButton-removeKey { background-position: -288px -200px; }
.iconButton-shiftKey { background-position: -312px -200px; }
.iconButton-goToTime { background-position: -336px -200px; }
/*
.iconButton- { background-position: -360px -200px; }
*/
.iconButton-goBWD { background-position: 0 -220px; }
.iconButton-goFWD { background-position: -24px -220px; }
.iconButton-pause { background-position: -48px -220px; }
.iconButton-goFFWD { background-position: -72px -220px; }
.iconButton-goFBWD { background-position: -96px -220px; }
.iconButton-goNext { background-position: -120px -220px; }
.iconButton-goPrev { background-position: -144px -220px; }
.iconButton-stop { background-position: -168px -220px; }
.iconButton-eject { background-position: -192px -220px; }
/*
.iconButton- { background-position: -216px -220px; }
.iconButton- { background-position: -240px -220px; }
.iconButton- { background-position: -264px -220px; }
.iconButton- { background-position: -288px -220px; }
.iconButton- { background-position: -312px -220px; }
.iconButton- { background-position: -336px -220px; }
.iconButton- { background-position: -360px -220px; }
*/
.iconButton-buildXPS { background-position: 0 -240px; }
.iconButton-editXPS { background-position: -24px -240px; }
.iconButton-linkXPS { background-position: -48px -240px; }
.iconButton-FPS { background-position: -72px -240px; }
.iconButton-movieFrame { background-position: -96px -240px; }
.iconButton-moieFrameSetting { background-position: -120px -240px; }
/*
.iconButton- { background-position: -144px -240px; }
.iconButton- { background-position: -168px -240px; }
.iconButton- { background-position: -192px -240px; }
.iconButton- { background-position: -216px -240px; }
.iconButton- { background-position: -240px -240px; }
.iconButton- { background-position: -264px -240px; }
.iconButton- { background-position: -288px -240px; }
.iconButton- { background-position: -312px -240px; }
.iconButton- { background-position: -336px -240px; }
.iconButton- { background-position: -360px -240px; }
*/
.iconButton-ONS { background-position: 0 -260px; }
.iconButton-ONSsetting { background-position: -24px -260px; }
.iconButton-ONS_0 { background-position: -48px -260px; }
.iconButton-ONS_1 { background-position: -72px -260px; }
.iconButton-ONS_2 { background-position: -96px -260px; }
.iconButton-ONS_3 { background-position: -120px -260px; }
.iconButton-ONS_4 { background-position: -144px -260px; }
.iconButton-traceBlack { background-position: -168px -260px; }
.iconButton-traceR { background-position: -192px -260px; }
.iconButton-traceG { background-position: -216px -260px; }
.iconButton-traceB { background-position: -240px -260px; }
.iconButton-traceC { background-position: -264px -260px; }
.iconButton-traceM { background-position: -288px -260px; }
.iconButton-traceY { background-position: -312px -260px; }
.iconButton-traceGY { background-position: -336px -260px; }
/*
.iconButton- { background-position: -360px -260px; }
*/
/*
.iconButton- { background-position: 0 -280px; }
.iconButton- { background-position: -24px -280px; }
.iconButton- { background-position: -48px -280px; }
.iconButton- { background-position: -72px -280px; }
.iconButton- { background-position: -96px -280px; }
.iconButton- { background-position: -120px -280px; }
.iconButton- { background-position: -144px -280px; }
.iconButton- { background-position: -168px -280px; }
.iconButton- { background-position: -192px -280px; }
.iconButton- { background-position: -216px -280px; }
.iconButton- { background-position: -240px -280px; }
.iconButton- { background-position: -264px -280px; }
.iconButton- { background-position: -288px -280px; }
.iconButton- { background-position: -312px -280px; }
.iconButton- { background-position: -336px -280px; }
.iconButton- { background-position: -360px -280px; }
*/
.iconButton-checker { background-position: 0 -300px; }
.iconButton-cell { background-position: -24px -300px; }
.iconButton-separation { background-position: -48px -300px; }
.iconButton-traceAll { background-position: -72px -300px; }
.iconButton-traceFGC { background-position: -96px -300px; }
.iconButton-traceK { background-position: -120px -300px; }
.iconButton-tracePPP { background-position: -144px -300px; }
.iconButton-paintLayer { background-position: -168px -300px; }
.iconButton-thiningLine { background-position: -192px -300px; }
.iconButton-borderFill { background-position: -216px -300px; }
.iconButton-smoother { background-position: -240px -300px; }
.iconButton-colorBox { background-position: -264px -300px; }
.iconButton-colorInfo { background-position: -288px -300px; }
/*
.iconButton- { background-position: -312px -300px; }
.iconButton- { background-position: -336px -300px; }
.iconButton- { background-position: -360px -300px; }
*/


input {font-size:9pt;border-width:1}
button {font-size:9pt;border-width:1;color:snow;background-color:#666666;-webkit-border-radius:2px;}

A:link    {text-decoration:none;}
A:visited {text-decoration:none;}
A:active  {text-decoration:none;}
A:hover  {color:#808080;background-color:#dddddd;}

#toolmenu
{
	position:absolute;
	left:0px;top:96px;
	width:192px;height100%;
}
#toolview
{
	position:absolute;
	left:208px;top:96px;
	width:75%;height:100%;
	border-style:none;
}
